:root {
    --offwhite: #fffff2;
    --secondary: #fffff9;
    --fontcolor: #000000;
}
@font-face {
    font-family: 'Fifties Movies';
    src: url('../.Content/fonts/Fifties Movies.ttf') format('truetype');
}

html, body {
    height: 100%;
    width: 100%;
    padding: 1.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Fifties Movies' , sans-serif;
    background-color: var(--offwhite);
    font-weight: 500;

}
* {
    box-sizing: border-box;
}
.maincontainer {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border: 1px solid black;*/
}
.sidebar {
    width: 6rem;
    height: 100%;
    border: 1px solid black;
    background-color: var(--secondary);
}

/* Main Container - Home page */

.homePageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--secondary);
}
#fitName {
    width: 35%;
}
.accountBox h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 1rem;
    font-size: 0.8em;
}
input::placeholder {
    font-family: 'Fifties Movies', sans-serif;
}