:root {
    --offwhite: #fffff2;
    --secondary: #fffff9;
    --fontcolor: #000000;
}
@font-face {
    font-family: 'Fifties Movies';
    src: url('../.Content/fonts/Fifties Movies.ttf') format('truetype');
}

html, body {
    height: 100%;
    width: 100%;
    padding: 1.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Fifties Movies' , sans-serif;
    background-color: var(--offwhite);
    font-weight: 500;
}

* {
    box-sizing: border-box;
}
.maincontainer {
    width: 75%;
    height: 100%;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
}
.sidebar {
    width: 6rem;
    height: max(30rem, 75%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--secondary);
}
/* Icons */

.image-button {
    background-color: var(--secondary);
    cursor: pointer;
    outline: none;
    width: 130%;
    aspect-ratio: 1 / 1;
    border-radius: 13px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.15s;
    border: none;
}
.image-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.image-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#bügel {
    scale: 120%
}
#profil {
    scale: 125%
}
#home {
    scale: 120%
}

/* Main Container - Home page */

.homePageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--secondary);
}
#fitName {
    width: 35%;
}
.accountBox h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 1rem;
    font-size: 0.8em;
}
input::placeholder {
    font-family: 'Fifties Movies', sans-serif;
}